[Unit]
Description={{ mongo.shortName }} Container
After=docker.service
Requires=docker.service
After={{nginx_proxy.shortName}}.service
Requires=docker.{{nginx_proxy.shortName}}.service

[Service]
TimeoutStartSec=infinity
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ mongo.fullName}}:{{ mongo.tag }}
ExecStart=/usr/bin/docker run --rm --name %n \
    --network {{ dockerNetworkName }} \
    --volume mongo_data:/data/db \
    -p 27017:27017 \
    --env "MONGO_INITDB_ROOT_USERNAME={{ mongoCreds.rootUser }}" \
    --env "MONGO_INITDB_ROOT_PASSWORD={{ mongoCreds.rootPass }}" \
    --env "LETSENCRYPT_HOST={{ mongo.shortName }}.{{ baseHost }}" \
    {{ mongo.fullName}}:{{ mongo.tag }}

[Install]
WantedBy=multi-user.target