[Unit]
Description=nginx Container
After=docker.service
Requires=docker.service

[Service] 
TimeoutStartSec=infinity
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ nginx.fullName }}:{{ nginx.tag }}
ExecStart=/usr/bin/docker run --name %n \
    --network {{ dockerNetworkName }} \
    -p 27017:27017 \
    --volume certs:/etc/nginx/certs \
    --volume customvhost:/etc/nginx \
    --volume html:/usr/share/nginx/html \
    --volume /var/run/docker.sock:/tmp/docker.sock:ro \
    {{ nginx.fullName }}:{{ nginx.tag }}

[Install]
WantedBy=multi-user.target